<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.istic.fr/m2miage/idm/PollSystem" 
       class = "fr.istic.m2miage.idm.pollSystem.PollSystemPackage"
       genModel = "model/generated/PollSystem.genmodel" /> 
	
  </extension>



</plugin>
